<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviónica</title>
</head>

<body class="" style=" background-color: #f5f6fa; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; ">
    <table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; width: 100%; background-color: #f5f6fa">
        <tr>
            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top">&nbsp;</td>
            <td class="container" style=" font-family: sans-serif; font-size: 14px; display: block; margin: 0 auto; max-width: 750px; width: 750px; ">
                <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 750px">
                    <table class="main" style="border-collapse: separate; width: 100%">
                        <tr>
                            <td class="wrapper" style=" font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px; ">
                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; width: 100%; background: #ffffff">
                                    <tr>
                                        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top">
                                            <img style="width: 100%; height: auto"
                                                 alt=""
                                                 src="{{mail_banner_primary_url}}" />

                                            <div style="width: 100%; text-align: center; background: #a79132; padding: 10px 0px">
                                                <label style="color: #ffffff; font-size: 18px; font-weight: 600">Thank you for getting in touch with us!</label>
                                            </div>

                                            <div style="padding: 15px 35px">
                                                <p style="font-size: 16px; font-weight: 600">Hello,</p>

                                                <p>
                                                    Your message has been successfully received and our team is already reviewing it. We will get back to you shortly with the information or assistance you need.
                                                </p>

                                                <p style="margin-top: 15px">
                                                    Below is a summary of the information we received:
                                                </p>

                                                <p style="margin-top: 15px; margin-bottom: 0px">
                                                    <span style="font-weight: 600">Name:</span> {{name}}
                                                </p>
                                                <p style="margin-top: 0px; margin-bottom: 0px">
                                                    <span style="font-weight: 600">Subject:</span> {{subject}}
                                                </p>
                                                <p style="margin-top: 0px; margin-bottom: 0px">
                                                    <span style="font-weight: 600">Phone:</span> {{phone}}
                                                </p>
                                                <p style="margin-top: 0px; margin-bottom: 0px">
                                                    <span style="font-weight: 600">Email:</span> {{email}}
                                                </p>
                                                <p style="margin-top: 0px; margin-bottom: 0px; font-weight: 600">Message:</p>
                                                <p style="margin-top: 0px; margin-bottom: 0px">{{message}}</p>

                                                <p style="margin-top: 20px">
                                                    We appreciate your trust and the time you took to write to us.
                                                </p>
                                                <p style="margin-bottom: 0px">Best regards,</p>
                                                <p style="margin-top: 0px">Aviónica Team</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <img style="width: 100%; height: auto; margin-top: 15px"
                         alt=""
                         src="{{mail_banner_secondary_url}}" />
                </div>
            </td>
            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top">&nbsp;</td>
        </tr>
    </table>
</body>
</html>
